

.author{
	
	clear:both;
	overflow:auto;
	margin-bottom: 1em;

	.photo{
		width: 150px;
		float: right;
		margin: 0 0 1em 2em;
		img{
			@include rounded-all-corners($global-radius);
			border:8px solid #bcc3c4;
		}
	}
	.bio{
		strong{
			color:$red;
		}
	}
}