


/*  Chapter + Section covers 

=========================================================================== */

@mixin coverBackground($section, $filename) {
  background-image: url('../images/covers/section#{$section}/chapter#{$filename}-cover.jpg');
  background-repeat: no-repeat;
  background-position:center top;
  background-attachment:scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}






#epub{


	#chapter-opener{
		@include cover-background("covers/chapter-opener-bg.jpg");
		background-attachment: fixed;
	}


	/*	Assign backgrounds 
	=========================================================================== 
	

	

	Using a custom mixin here allows us to pass the increment 
   	variable through to generate the image path for the covers */

	//  @for $i from 1 through 12 {
	// 	#chapter-opener.section1.chapter#{$i} {
	// 		.cover-image{
	// 			@include coverBackground(1,$i);
	// 		}
	// 	}
	// }




	/* 	Assign colours 
	=========================================================================== */

	$blue-accent:#006893;

	$bg-colors-list: $section1-colour, $section2-colour, $section3-colour, $section4-colour, $section5-colour, $section6-colour, $section7-colour, $section8-colour, $section9-colour;
	$tint-colours-list: $section1-bgtint, $section2-bgtint, $section3-bgtint, $section4-bgtint, $section5-bgtint, $section6-bgtint, $section7-bgtint, $section8-bgtint, $section9-bgtint;

	@for $i from 1 through length($bg-colors-list) {
		#chapter-opener.chapter#{$i} {
			.chapter-tab{
				background-color: nth($bg-colors-list, $i);
			}
			.chapter-title{
				color: nth($bg-colors-list, $i)
			}
			.overview-panel{
				.header{
					background-color: nth($bg-colors-list, $i);
				}
				.content{
					background-color: lighten(desaturate(nth($tint-colours-list, $i),15),10);
				}
			}
		}
	}

	#chapter-opener{
		
		.chapter-tab{
			width: 250px;
			height: 200px;
			@include rounded-corners(0,0,20px,20px);
			@include box-shadow();

			&> div:first-child{
				@include text-shadow(0,0,0);
				font-size: $h3-font-size;
				font-weight: bold;
				color: $blue-accent;
				position: relative;
				top: 90px;
				left: 20px;
			}
		}
	}
	
	.chapter-number{
		font-size: $h1-font-size;
		font-weight: bold;
		font-family: $title-font;
		color: #fff;
		margin-bottom: 10px;
		padding-right:25px;
		text-align: right;
		@include text-shadow();

		@media #{$small} {
			font-size: $h1-font-size * 4;	
		}
	}
	.chapter-title{
		font-size: $h1-font-size;
		font-family: $title-font;
		padding: 0;
		font-weight: bold;
		margin-top: 0.8em;
		margin-bottom: 0.5em;
		@include text-shadow();

		@media #{$small} {
			font-size: $h1-font-size*1.2;	
		}
	}

	.panel-row{
		width: 100%;
		background-color:red;
		clear: both;
		margin-bottom: 0.8em;
	}
	.overview-panel{
		width: 100%;
		margin-right:0%;
		float: left;
		margin-bottom: 1.2em;

		@media #{$small} {
			width: 45%;
			margin-right:3%;
		}
		
		.header{
			border-bottom:8px solid #fff;
			@include rounded-corners(20px,20px,0,0);
		}
		h3{
			color: #fff;
			margin:0;
			padding:0.5em;
			line-height: 1.1em;
			
		}
		.content{
			padding:1em;
			@include rounded-corners(0,0,20px,20px);
			h6{
				color:$blue-accent;
			}
			ul{
				list-style-type: none;
				li{
					span{
						color:$blue-accent;
						font-weight: bold;
					}
					strong{
						color: $dark-purple;
						font-size: 0.85em;
					}
				}
			}
			.title{
				line-height: 2em;
				font-weight:bold;
			}
			a{
				color: $blue-accent !important;
			}

		}
	}
	.panel1{
		ul.base-small{margin-bottom: 0em};
		ul.base-medium{margin-bottom: 0em};
		ul.base-large{margin-bottom: 0em};
		@media #{$small} {
			ul.base-small{margin-bottom: 2em};
			ul.base-medium{margin-bottom: 4em};
			ul.base-large{margin-bottom: 8em};
		}
		
	}
	.panel4{
		.header{
			background-color: $blue-accent !important;
		}
	}
	

}
