

/* Define the colours to be used */
// ================================================

// Section colours 
$green:#d7dc2c;
$blue:#acd1e4;
$purple:#aeb6d1;

// Common 
$base-colour: #82c9e1;
$base-colour-tint: #5b7a8a;
$grey: #666666;
$red: #a2382f;
$dark-purple:#912a7d;
$purple: #aeb6d1;




// Chapter Colours
$section1-colour:$green;
$section2-colour:$blue;
$section3-colour:$green;
$section4-colour:$green;
$section5-colour:$purple;
$section6-colour:$green;
$section7-colour:$blue;
$section8-colour:$green;
$section9-colour:$green;
$section10-colour:$blue;
$section11-colour:$green;




// Chapter bg tint
$tint-opacity:0.7;
$section1-bgtint:rgba(215, 220, 44, $tint-opacity); 	// green
$section2-bgtint:rgba(172, 209, 228, $tint-opacity);	// blue
$section3-bgtint:rgba(215, 220, 44, $tint-opacity);		// green
$section4-bgtint:rgba(215, 220, 44, $tint-opacity);		// green
$section5-bgtint:rgba(158, 174, 204, $tint-opacity);	// purple	
$section6-bgtint:rgba(215, 220, 44, $tint-opacity);		// green
$section7-bgtint:rgba(215, 220, 44, $tint-opacity);		// blue
$section8-bgtint:rgba(174, 182, 209, $tint-opacity);	// green
$section9-bgtint:rgba(172, 209, 228, $tint-opacity);	// green
$section1-bgtint:rgba(172, 209, 228, $tint-opacity);	// blue
$section11-bgtint:rgba(172, 209, 228, $tint-opacity);	// green





// Panel colours
$key-ideas-colour:#a7cb3a;
// $activity-panel:#fffacb;
// $task-panel:#dce7ef;
// $extra-panel:#e0e8dc;


// Tooltips 
$tooltip-color: #7e415e;
$tooltip-bg: #c8e7f1;
$tooltip-font-weight: normal;
$tooltip-font-color: #000;
$tooltip-radius: 6px;


// Pre-test, chapter summary, puzzles and games pages
$pre-test-colour:#efa52d;
$chapter-summary-colour:#be2736;
$puzzle-colour:#85586d;



// Tables
$activity-table-head:#e6be33;
$activity-table-cell:#f5e1a4;