


/*  Chapter + Part covers 

=========================================================================== */
@mixin coverBackground($part, $filename) {
  background-image: url('../images/covers/part#{$part}/chapter#{$filename}-cover-overlay.svg'), url('../images/covers/part#{$part}/chapter#{$filename}-cover.jpg');
  background-repeat: no-repeat;
  background-position:center center;
  background-attachment:scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin partBackground($part) {
  background-image: url('../images/covers/part#{$part}/partcover.jpg');
  background-repeat: no-repeat;
  background-position:center center;
  background-attachment:scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#epub{

	/* Cover
	=========================================================================== */
	#cover {
		background-image: url('../images/covers/cover.jpg');	
		background-repeat: no-repeat;
		background-position:center center;
		background-attachment:scroll;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain; 
	}


	/*	Part Covers
	=========================================================================== */
	@for $i from 1 through 2 {
		#part#{$i}.part-opener {
			@include partBackground($i);
		}
	}

}
