

$chapter-summary-colour: $red;
$pre-test-colour: #efa52e;
$puzzles-colour: #85586d;

#epub{
	#pre-test,
	#puzzles,
	#chapter-summary{

		h3{
			margin: 0;
			color: #fff;
			padding:0.4em 0;
			font-size: $h2-font-size;
			@include text-shadow();
		}

		.content{
			padding: 0.6em 1em;
			margin-bottom: 1.8em;
			@include rounded-all-corners(10px);
		}

		ol{
			li{
				strong{color:$dark-purple}
			}
			img{
				width: auto;
			}
		}
	}

	#puzzles{
		background-color: $puzzles-colour;
		@include svg-bg("images/ui/pretest-bg");
		@include svg-bg("../images/ui/pretest-bg");
		background-size:cover;
		.content{background-color:#f4f4f4}
	}
	#chapter-summary{
		background-color: $chapter-summary-colour;
		@include svg-bg("../images/ui/pretest-bg");
		background-size:cover;
		.content{background-color:#feeabb}
	}
	#pre-test{
		background-color: $pre-test-colour;
		@include svg-bg("../images/ui/pretest-bg");
		background-size:cover;
		.content{background-color:#fde9bb}
	}
}


