

#epub{
	.exercise{
			margin-bottom: 1.6em;
			padding-bottom:0.4em;
			
			

			.header{
				@include grid-column(11, false, false, 1, false, false, false, false);
				border-bottom:2px solid $blue;
				display: block;
				margin-bottom: 1.6em;
				padding-left:0;
				padding-right:0;
			}
			.subsection{
				@include grid-column(11, false, false, 1, false, false, false, false);
				border-bottom:2px solid $blue;
				display: block;
				padding-left:0;
				padding-right:0;
				text-align:right;
				margin-bottom: 1.6em;
				margin-top: 1.4em;
				&.alternate{
					border:none;
					border-top:2px solid darken(#eb8c2e,10);
					text-align:left;
					font-size: 1.45em;
					h6{
						background:none;
						color: darken(#eb8c2e,10);
						span{color: darken(#f5bc25,10)};
					}
				}
			}
			

			.subsection.understanding {
				//border-bottom:2px solid #41b7b4;
				h6{background-color:#41b7b4};
			}
			.subsection.fluency {
				border-bottom:2px solid #0972ac;
				h6{background-color:#0972ac};
			}
			.subsection.reasoning {
				border-bottom:2px solid #9ca7c9;
				h6{background-color:#9ca7c9};
			}
			


			&> div:nth-child(2){
				border:none;
				margin-top:-56px; 

			}

			h3{
				background-color:$blue;
				color: #fff;
				display: inline-block;
				margin:0;
				padding:0.2em 0.8em;
				@include rounded-corners(10px,10px,0px,0px)
			}
			h6{
				background-color:$blue;
				color: #fff;
				display: inline-block;
				margin:0;
				padding:0.2em 0.8em;
				@include rounded-corners(10px,10px,0px,0px)
			}

			

			section{
				counter-increment: item-counter;
				clear: both;
			}
			section .question:before {
			  	content: counter(item-counter);
			    margin-left: 5px;
			    margin-right: 10px;
			    font-weight: bold;
			    color: $red;
			}

			ol{
		   		counter-reset: letter;
		   		padding-left: 10px;
		   		li{
		   			list-style:none; 
		   		}
		   		li:before{
		   			counter-increment: letter;
		   			content: counters(letter, ".", lower-alpha)" ";
		   			margin-right: 5px;
		    		font-weight: bold;
		    		color: $dark-purple;
		   		}
		   	}

		   	.question{
		   		margin-bottom: 0.5em;
		   		line-height: 1.25em;
		   	}

			.eg-label{
				background-color:$dark-purple;
				color: #fff;
				padding: 0.4em;
				font-size: 0.80em;
				text-align:center;
				@include rounded-corners(0px,4px,4px,0px)
			}


	}
}