

// These selctors are overiding the injected tip content which are not within the #epub container

.tpd-tooltip{
	margin-top:-35px;
	//margin-left:20px;
	strong{color:$red;}
	img{
		margin-top: 1em;
	}
}

.tpd-skin-dark .tpd-content,
.tpd-skin-dark .tpd-title,
.tpd-skin-dark .tpd-close { color: #000; }
.tpd-skin-dark .tpd-background-content,
.tpd-skin-dark .tpd-background-title {
  background-color: #c7e7f0;
}
.tpd-skin-dark .tpd-background {
  border-color: #c7e7f0;
}

/* line below the title */
.tpd-skin-dark .tpd-title-wrapper { border-bottom: 1px solid #404040; }
/* links */
.tpd-skin-dark a,
.tpd-skin-dark a:hover { color: #ccc; }


.tpd-size-large .tpd-content,
.tpd-size-large .tpd-title {
  padding: 14px;
  font-size: 15px;
  line-height: 18px;
}



#epub{
	.headtip:hover{
		cursor: help;
	}
}
