

#epub{
	.key-ideas{
		border-top:5px solid $key-ideas-colour;
		background-color: #f0f3c9;

		.content{
			@include grid-column(11, false, false, 1, false, false, false, false);
			margin-bottom: 1.6em;
			padding-bottom:0.4em;

			a{
				font-weight: bold;
				color: #7e415e;
				&:hover{
					color: #000;
				}
			}
			h3{
				margin-top: 0 !important;
				margin-right: 0.4em;
				padding:0.25em 0.5em;
				display: inline-block;
				color: #fff !important;
				background-color: $key-ideas-colour;
				@include rounded-corners(0px,0px,10px,10px)
			}
			ul{
				li{
					list-style: none;
				}
				li:before{
					content: "■";
					color: #a2382f;
					margin-right: 0.5em;
					position: relative;
					top: -2px;
				}
				img{
					margin-left: 0em;
					@media #{$small} {
						margin-left: 2em;
					}
				}
			}
			table{
				background-color:#fbfae9;
				border:none;
				width: 85%;
				th{
					text-align: center;
					color: $base-colour-tint;
					background-color:#d0dc51;
					border:none;
				}
				th:first-child{
					text-align: left;
				}
				td{
					border:none;
					background-color:#fbfae9;
				}
				td:nth-child(2){
					text-align:center;
				}
				tr:first-child{
					border:none;
				}
				tr{
					border-bottom:1px solid $base-colour-tint;
					td:first-child{
						color: $base-colour-tint;
						p{font-weight: bold;}
						
					}
				}
				img{
					margin: 0;
				}
				ol{
			   		counter-reset: letter-count;
			   		padding-left: 10px;
			   		li{
			   			list-style:none; 
			   			min-height: 40px;
			   		}
			   		li:before{
			   			counter-increment: letter-count;
			   			content: counters(letter-count, ".", lower-alpha)" ";
			   			margin-right: 5px;
			    		font-weight: bold;
			    		color: $red;
			   		}
			   	}
			}
		}
	}
}

