


#epub{
	.margin{

		.link{
			&:hover{
				opacity: 0.5;
				@include hover();
			}
		}

		.drilling-label{
			text-align:center;
			font-size: 0.75em;
			color: #283777;
			line-height: 1.4em;
			font-weight: bold;
			
		}
		.skillset-label{
			text-align:center;
			font-size: 0.75em;
			color: $red;
			line-height: 1.4em;
			font-weight: bold;
			
		}
	}
}