



@import url(http://fonts.googleapis.com/css?family=Nunito:700);
$title-font: 'Nunito', serif;



/* Page elements */

#epub{

	section{
		@include grid-row;
		.header{
			@include grid-column(12, false, false, false, false, false, false, false);
		}
		.margin{
			@include grid-column(1, false, false, false, false, false, false, true);
			padding: 0 !important;
		}
		.content{
			@include grid-column(11, false, false, false, false, false, false, true);
		}
	}


	
	a{
		color: $base-colour;
		&:hover{
			color: darken($base-colour,15);
		}
	}

	h2,h3,h4{
		font-family: $title-font;
		color: $base-colour-tint;
	}

	h2{
		color: #fff;
		padding: 2em 25% 0.38em 1em ;
		line-height: 1.1em;
		background-color: $base-colour;
		@include cover-background("ui/header-bg.jpg");
		@include text-shadow();

		span{
			color: #fff;
			background-color: $base-colour;			padding:0.25em;
			margin-right: 0.4em;
			@include rounded-corners(10px,10px,0px,0px)
		}
	}

	h3{
		margin-top: 0.8em;
		
	}

	h4{
		font-weight: 700;
	}
	
	h5{
		text-transform: uppercase;
		font-weight: 400;
	}
	p{
		a{
			color:$red;
			&:hover{
				color:darken($red,10);
				text-decoration: underline;
			}
		}
	}

	ul{
		img{
			width: auto;
		}
	}

	figcaption{
		color: $base-colour-tint;

	}

	blockquote{
		border:none;
		color: #000;
		p{color:#000;}
	}

	cite{
		text-align: right;
		color: #000;
		&:before{
			content: "";
		}
	}

	.table{
		clear: both;
		h4{color:$base-colour}
	}

	table{
		tr{
			th{
				background-color:$base-colour;
				color: #fff;
				border-bottom: 5px solid #fff;
				text-align: center;
				line-height: 1.3em;
				font-size: 0.95em;
			}
			td{
				background-color:lighten($base-colour,40);
				border-right: 5px solid #fff;
			}
			td:last-child{
				border:none;
			}
		}
	}

	table.alternate{
			border:none;
		td:first-child{
			font-weight: bold;
			color: $base-colour-tint;
		}
		td{
			border: 1px solid $base-colour-tint;
		}
		td:last-child{
			border: 1px solid $base-colour-tint;
		}
	}	

	.image-tile-2,
	.image-tile-3,
	.image-tile-4{
		img{
			@include rounded-all-corners($global-radius);
		}
	}

	figure{
		img{
			@include rounded-all-corners($global-radius);
		}
	}


	sup,sub{
		padding-right: 8px;
	}
	
	.arrow:before{
		content: "►";
		color: #a2382f;
		margin-right: 0.5em;
	}
}



/* Reveal modal
================================================ */
.reveal-modal{
	@include rounded-all-corners($global-radius);
	button{
		@include svg-bg("../images/ui/audio-icon", no-repeat, 8px 0);
		background-size:contain;
		width: 30px;
		height: 40px;
	}
	img{
		margin-bottom: 2em;
	}
}


/* Tooltips
================================================ */
$tooltip-padding: 1em;

.has-tip{
	color:$tooltip-color;
	border:none;

	&:hover{
		color:darken($tooltip-color,30);
		border:none;
	}
}
.tooltip{
	padding: $tooltip-padding;
	//margin-top:-40px;
	//margin-left:20px;
	strong{
		color: #7e415e;
	}
	.nub{
		//border-color: transparent transparent $tooltip-color transparent;
	}
}