

// Panels
// ================================================================================================

#epub{


	.interactive-panel,
	.example-panel{

		$panel-radius:15px;

		@include grid-column(11, false, false, 1, false, false, false, false);

		.titlebar{
			
			@include rounded-corners($panel-radius,$panel-radius,0,0);
			h3{
				display: block !important;
				background-color:desaturate(lighten($dark-purple,40),25);
				color: $dark-purple;
				> span{
					color: desaturate(lighten($dark-purple,15),20);
					background:none;
				}
			}
		}
		.content{
			padding:1.2em;
			margin-bottom: 1.6em;
			background-color:#e3e9ea;
			@include rounded-corners(0,0,$panel-radius,$panel-radius);
		}
		table{
			background-color:#e3e9ea;
			border:none;
			th{
				text-align: left;
				color: $dark-purple;
				border-bottom:1px solid #fff;
				background:none;
			}
			td{
				border:none;
				background-color:#e3e9ea;
			}
			ol{
		   		counter-reset: letter-count;
		   		padding-left: 10px;
		   		li{
		   			list-style:none; 
		   			min-height: 40px;
		   		}
		   		li:before{
		   			counter-increment: letter-count;
		   			content: counters(letter-count, ".", lower-alpha)" ";
		   			margin-right: 5px;
		    		font-weight: bold;
		    		color: $dark-purple;
		   		}
		   	}
		}
	}

	.interactive-panel{
		.titlebar h3{
			background-color:$base-colour-tint;
			color:#fff;
			span{
				color:lighten($base-colour,10);
			}
		}
		.content{
			padding: 0;
			background-color:#fff;
			border:5px solid #e3e9ea;
			border-top:none;
		}
	}



















	.square-panel{
		clear: both;
		@include grid-row;
		overflow: auto;
		background-color:desaturate(lighten($base-colour, 40),20);
		border:2px solid $base-colour;
		padding:1em;
		margin: 1.5em 0;

		h3{
			color: $base-colour !important; 
		}
		.download{	
			a{color:$base-colour;
				&:hover{
					@include hover-colour($grey);
				}
			}
		}
		.content{
			@include grid-column(10, false, false, 2, false, false, false, false);
		}
	}



	.rounded-panel{
		clear: both;
		@include grid-row;
		@include rounded-all-corners(0.8em);
		background-color:desaturate(lighten($base-colour, 40),20);
		border: 3px dotted $base-colour;
		padding: 0.8em;
		margin-bottom:2em;

		// Icon re-sizing
		@include svg-bg("../images/ui/investigate-icon", no-repeat, 98% 10%);
		background-size: 50px auto;
		@media #{$small} {
			@include svg-bg("../images/ui/investigate-icon", no-repeat, 98% 10%);
			background-size: 65px auto;
		}



		.download{	
			a{color:$base-colour;
				&:hover{
					@include hover-colour($grey);
				}
			}
		}
		.content{
			@include grid-column(9, false, false, 2, false, false, false, false);
		}
		
	}


	.heading-panel{
		margin-bottom: 3em;
		h3{
			background-color:$base-colour;
			color: #fff !important;
			text-transform: uppercase;
			padding: 0.3em;
			text-align:center;
			margin:0 0 1em 0;
		}
		.download{	
			a{color:darken($base-colour,0);
				&:hover{
					@include hover-colour($grey);
				}
			}
		}
		.content{
			@include grid-column(10, false, false, 2, false, false, false, false);
		}
		
	}



	.naked-panel{
		margin-bottom: 3em;
		h3{
			text-transform: uppercase;
			margin:0 0 1em 0;
		}
		ol{
			li{
				margin:5px;
			}
		}
		.download{	
			a:hover{@include hover-colour($grey)}
		}
		.content{
			@include grid-column(9, false, false, 2, false, false, false, false);
		}
	}

	// .investigate-panel{
	// 	clear: both;
	// 	@include grid-row;
	// 	@include rounded-all-corners(0.8em);
	// 	background-color: $investigate-color;
	// 	border: 3px dotted darken($investigate-color,25);
	// 	padding: 0.8em;
	// 	margin-bottom:2em;

	// 	// Icon re-sizing
	// 	@include svg-bg("../images/ui/investigate-icon", no-repeat, 98% 10%);
	// 	background-size: 50px auto;
	// 	@media #{$small} {
	// 		@include svg-bg("../images/ui/investigate-icon", no-repeat, 98% 10%);
	// 		background-size: 65px auto;
	// 	}

	// 	h3{
	// 		color: #000 !important;
	// 	}

	// 	.download{	
	// 		a{color:darken($investigate-color,30);
	// 			&:hover{
	// 				@include download-colour($grey);
	// 			}
	// 		}
	// 	}
	// 	.content{
	// 		@include grid-column(9, false, false, 2, false, false, false, false);
	// 	}
		
	// }


	// .activity-panel-base{
	// 		clear: both;
	// 		margin-top: 1.2em;
	// 		margin-bottom: 2em;
	// 	.top{
	// 		background-color:$activity-color;
	// 		height:10px;
	// 		margin: 0 15px;
	// 		@include rounded-corners(20px, 20px, 0, 0);
	// 	}
	// 	.bottom{
	// 		background-color:$activity-color;
	// 		height:10px;
	// 		margin: 0 15px;
	// 		@include rounded-corners(0, 0, 20px, 20px);
	// 	}
	// 	.inner{
	// 		padding:15px 20px;
	// 		border:1px solid $activity-color;
	// 		overflow: auto;
	// 	}
	// 	h3{
	// 		padding:0;
	// 		margin:0;
	// 		margin-bottom: 0.8em;
	// 		font-size:$h4-font-size;
	// 		color: $activity-color !important;
	// 	}
	// 	ol li{
	// 		color: $activity-color;
	// 	}
	// }


	// .activity-panel{
	// 	@extend .activity-panel-base;

	// 	.download{	
	// 		a{color:darken($activity-color,0);
	// 			&:hover{
	// 				@include download-colour($grey);
	// 			}
	// 		}
	// 	}
	// 	.content{
	// 		@include grid-column(10, false, false, 2, false, false, false, false);
	// 	}

	// 	.quote{
	// 		border:1px solid #000;
	// 		background-color: #eee;
	// 		padding:1.3em;
	// 		overflow: auto;
	// 		h4{
	// 			color: #000;
	// 			font-size: 1.1em;
	// 			font-weight: bold;
	// 		}
	// 		h5{
	// 			@extend h4;
	// 			font-size: 0.9em;
	// 		}
	// 		cite{
	// 			float: right;
	// 			line-height: 1.3em;
	// 			text-align: right;
	// 			font-size: 0.9em;
	// 		}
	// 	}

	// 	table{
	// 		border:2px solid $activity-color !important;
	// 		th{
	// 			background-color:$activity-color !important;
	// 			border-right:2px solid #fff;
	// 			border-bottom:2px solid $activity-color !important;
	// 		}

	// 		td{
	// 			border-right:2px solid $activity-color !important;
	// 			border-bottom:2px solid $activity-color !important;
	// 		}
	// 	}
	// }



	// .interactive-panel{
	// 	@extend .activity-panel-base;

	// 	.content{
	// 		width: 100%;
	// 		h3{
	// 			text-transform: uppercase;
	// 			margin-bottom: 0.8em;
	// 		}
	// 		figure{
	// 			width: 100%;
	// 			img{width:100%;}
	// 		}
	// 	}
	// }

	// .solution-panel{
	// 	h3{
	// 		background-color:$solution-color;
	// 		color: #fff !important;
	// 		text-transform: uppercase;
	// 		padding: 0.3em;
	// 		text-align:center;
	// 		margin:0;
	// 	}
	// 	.download{	
	// 		a{color:darken($solution-color,0);
	// 			&:hover{
	// 				@include download-colour($grey);
	// 			}
	// 		}
	// 	}
	// 	.content{
	// 		@include grid-column(10, false, false, 2, false, false, false, false);
	// 	}
	// }



	// .trivia-panel{
	// 		width: 100%;
	// 		margin:0 auto;
	// 		clear: both;
	// 		margin-bottom: 25px;
	// 		height: 140px;
	// 		@include bg("../images/ui/trivia-icon", no-repeat, 20px 20px);
	// 		background-size: 70px auto;
	// 		@media #{$small} {
	// 			width: 70%;
	// 			@include bg("../images/ui/trivia-icon", no-repeat, 20px 20px);
	// 			background-size: 100px auto;
	// 		}
	// 		p{	
	// 			margin-left: 140px;
	// 			padding-top: 25px;
	// 			color: $trivia-color;
	// 				font-size: 1.2em;
	// 		}
	// }

	// .chapter1 .trivia-panel{
	// 	@extend .trivia-panel;
	// 	@include bg("../images/ui/trivia-icon-2", no-repeat, 20px 20px);
	// 	@media #{$small} {
	// 			@include bg("../images/ui/trivia-icon-2", no-repeat, 20px 20px);
	// 		}
	// }
	// .chapter1 .tasty-trivia-panel{
	// 	@extend .trivia-panel;
	// 	@include bg("../images/ui/trivia-icon", no-repeat, 20px 20px);
	// 	@media #{$small} {
	// 			@include bg("../images/ui/trivia-icon", no-repeat, 20px 20px);
	// 		}
	// }









		

}

// $colors-list: $book1-chapter1, $book1-chapter2, $book1-chapter3, $book1-chapter4, $book1-chapter5, $book1-chapter6, $book1-chapter7, $book1-chapter8, $book1-chapter9, $book1-chapter10, $book1-chapter11, $book1-chapter12;
// @for $i from 1 through length($colors-list) {
// 	#book1.chapter#{$i} {
// 		.reflect-panel{
// 			h3{color: nth($colors-list, $i) !important}
// 			li{color: nth($colors-list, $i)}
// 			.download a{color: nth($colors-list, $i)}
// 		}
//     }
// }
// $colors-list: $book2-chapter1, $book2-chapter2, $book2-chapter3, $book2-chapter4, $book2-chapter5, $book2-chapter6, $book2-chapter7, $book2-chapter8;
// @for $i from 1 through length($colors-list) {
// 	#book2.chapter#{$i} {
// 		.reflect-panel{
// 			h3{color: nth($colors-list, $i) !important}
// 			li{color: nth($colors-list, $i)}
// 			.download a{color: nth($colors-list, $i)}
// 		}
// 	}
// }


