
// $pre-test-colour: #efa52d;

// #epub{
// 	#pre-test{
// 		background-color: $pre-test-colour;

// 		h3{
// 			margin: 0;
// 			color: #fff;
// 			padding:0.4em 0;
// 			font-size: $h2-font-size;
// 			@include text-shadow();
// 		}

// 		.content{
// 			padding: 0.6em 1em;
// 			margin-bottom: 1.8em;
// 			background-color:#feeabb;
// 			@include rounded-all-corners(10px);
// 		}

// 		ol{
// 			li{
// 				strong{color:$red}
// 			}
// 			img{
// 				width: auto;
// 			}
// 		}
// 	}
// }