

#epub{

	#semester-review{
		background-color:#fbfaf5;
		h2{
			background: none;
			display: inline-block;
			color: $base-colour-tint;
			padding: 0.4em 0  0.1em 0 !important;
			margin-bottom: 0;
			@include text-shadow(0,0,0)
		}
		h3{
			margin-top: 1.8em;
		}
		h6{
			color: #000;
		}
	}

	#chapter-review{
		h2{
			padding: 0.8em 1em !important;
			background-color: $red !important;
			background: none;
			display: inline-block;
			@include rounded-all-corners(10px);
		}
		.downloads{
			.item{
				@include grid-row;
			}
			.icon{
				@include grid-column(1);
				padding: 0 !important;
				
			}
			.message{
				@include grid-column(11);
				font-weight: bold;
				color: $red;
				margin-top: 1.4em;
				line-height: 1.3em;
				width: 65%;
				a{
					color: darken($red,10) !important;
					text-decoration: underline;
					&:hover{
						color: #000 !important;;
					}
				}
			}
		}
	}


	#semester-review,
	#chapter-review{
		
		.button{
			background-color:$red;
			border-color:darken($red,5);
			a{color: #fff};
			&:hover{
				background-color:darken($red,10);
			}
		}

		ol{
			margin-bottom: 1em;
			img{
				width: auto;
			}
		}
		ol.custom-number{
			ul{
				counter-reset: numeral;
				li:before{
					counter-increment: numeral;
	   				content: counters(numeral, ".", lower-roman)" ";
				}

			}
		}
		
	}
}