
#epub{
	#toc{

		$bg-colors-list: $section1-colour, $section2-colour, $section3-colour, $section4-colour, $section5-colour, $section6-colour, $section7-colour, $section8-colour, $section9-colour, $section10-colour, $section11-colour;

		@for $i from 1 through length($bg-colors-list) {
			.chapter#{$i} {
				.number{
					background-color: nth($bg-colors-list, $i);
				}
				.strand{
					background-color: nth($bg-colors-list, $i);
				}
			}
		}


		.heading{
			font-size: $h4-font-size*0.7;
			line-height: 1.2em;
			font-weight: bold;
			color: $base-colour;
			margin-top: 2em;
			
			@include grid-row;

			> div{
				padding:0.4em 0.8em;

			}

			.number{
				@include grid-column(2);
				@media #{$small} {
					@include grid-column(1);
				}
				color: #000;
			}
			.chapter{
				@include grid-column(12);
				@media #{$small} {
					@include grid-column(8);
				}
				background-color:#00a3da;
				color: #fff;

			}
			.strand{
				@include grid-column(12);
				@media #{$small} {
					@include grid-column(3);
				}
				font-size: 0.7em;
				line-height: 2em;
				color: #000;
			}
		}






		
		h4{
			font-size: $h4-font-size*0.9;
		}
		ul{
			list-style-type: none;
			margin: 0;
			margin-top: 2em;
			li{
				margin: 0;
			}
		}

		section{
			@include grid-row;
			a{
				color: #000;
				&:hover{
					color: $base-colour;
				}
			}
		}

		ol.index{
			
			margin: 0em;
			margin-top: -1em;
			padding:1.2em 0.8em;
			counter-reset:section;
			@include box-sizing(border-box); 
			@include grid-column(12, false, false, false, false, false, false, true);	



			@media #{$small} {
				margin-top: -2.5em;
				padding:1.2em 4.5em;
				@include grid-column(7, true, false, false, false, false, false, true);	
			}

		    li{
		    	padding: 0 8px !important;
		    }
		    ol{
		    	
				border:none;
				li{
					list-style:none;
				}
				li:before{
					//content: "";
				}
			}
			ul{
				margin-top: 0.3em;
			}
		}


		ol.index li {
		    position:relative; /* Create a positioning context */
		    margin:0 0 2px 2em;
		    padding:2px 8px; 
		    list-style:none; 

		}
		
		.strand-info{
			color: $base-colour;
			font-size: 0.85em;
			font-weight: bold;
			p{margin:0}
			margin-top: 0.4em;
			@include grid-column(12, false, false, false, false, false, false, true);	

			@media #{$small} {
				margin-top: 1em;
				@include grid-column(3, true, false, 9, false, false, false, true);	
			}
		}



		@for $i from 1 through 30 {
			section.chapter#{$i} {
				ol.index > li:before {
				    content: "#{$i}" "" counter(section, upper-alpha);
				    counter-increment:section; 
				}
			}
		}


		ol.index > li:before {
		    position:absolute;
		    top:1px;
		    left:-2em;

		    -moz-box-sizing:border-box;
		    -webkit-box-sizing:border-box;
		    box-sizing:border-box;
		    width:1.6em;

		    margin-right:8px;
		    padding:0px;
		   	//background-color:$base-colour;
		   	font-size: 14px;
		   	font-weight: bold;
		   	color: $dark-purple;
		   	@include rounded-all-corners(40px);
		    text-align:center;
		}

	}

	#toc.resources{

		h6{
			font-size: $h4-font-size*0.9;
			line-height: 1.2em;
			font-weight: bold;
			background-color: $blue;
			color: #000;
			margin-top: 2em;
			padding: 0.5em 1em;
		}
			ul{
				margin-top: 0;
				margin-left: 1.5em;
				list-style:none;
				li{
					a{
						color: #000;
						&:hover{
							color: $base-colour;
						}
					}
				}
			}
		}
}