

/*	Base styles */
//	================================================================================================
//	These styles apply baseline presentation that are common to all epub titles.
//	================================================================================================
/* 	All styles are being scoped to a base ID to help with style spill in the epUb player */
// 	================================================================================================


#epub{


	/* The data attribute on the root epub element provides the page with the reposive grid config */
	// ================================================================================================

	> div:first-child[data-type="page"] {
			@include grid-row;
			@include grid-column(12, false, false, false, false, false, false, false);
	}

	> div:first-child[data-type="eoc"] {
		> div:first-child{
			@include grid-row;
			@include grid-column(12, false, false, false, false, false, false, false);
		}
	}


	// Images
	// ================================================================================================
	img{
		width:100%;
	}
	figure{
		width:100%;
		margin: 10px 0;
	}

	figcaption{
		padding:15px 0;
		font-weight:normal;
		font-size: $base-font-size * 0.80;
		line-height: 1.2em;
		strong{
			font-weight:bold;
		}
	}


	// Tables
	// ================================================================================================
	table{
		width:100%;
		margin:25px 0;
		table-layout: fixed;
		font-size: $base-font-size * 0.9;

		@media #{$small} {
			font-size: $base-font-size;
		}

		th,
		td{
			text-align:left;
			vertical-align: top;
		}
		tr th{
			background-color:#ccc;
			font-size:1.1em;
			line-height: 1.4em;
		}
		tr td{
			padding:0.8em;
		}
	}
	caption{
		caption-side:bottom;
		text-align:left;
		font-weight:normal;
		font-size: $base-font-size * 0.90;
		line-height: 1.2em;
		padding:10px 0;
		strong{
			font-weight:bold;
		}
	}
	


	// Forms
	// ================================================================================================
	textarea, input{
    	box-shadow: none;
	}


	// Download button
	// ================================================================================================

	.download{
		font-size: 4em;
		float: left;
		padding:0.1em;
		@media #{$small} {
			padding:0.3em;
			font-size: 5.2em;		
		}
		a div + div{
			font-size: 14px;
			margin-top: 0.5em;
			@media #{$small} {
				font-size: 18px;
			}
		}
	}





	//	Lists
	// ================================================================================================
	ul,ol{
		list-style-position:outside;
		margin-left:20px;
		
		li{
			margin-bottom: 0.4em;
		}
		ul,ol{
			margin-bottom: 0;
		}	
	}

	ul{
		ul{
			li{list-style-type:none;}
			li:before {  
	    		content: "– "; 
	    		margin-left: -20px;
	  		} 
		}
	}


	// Ordered
	ol{
		ul{
			li{
				list-style-type:disc;
			}
		}
	}


	ol.roman{
		list-style-position:outside;
		li{
			list-style-type:lower-roman;	
			padding:0px 0px;
			margin:5px 0px;
		}
	}
	ol.alpha-lower{
		list-style-position:outside;
		li{
			list-style-type:lower-alpha;	
			padding:0px 0px;
			margin:5px 0px;
		}
	}
	ol.alpha-upper{
		list-style-position:outside;
		li{
			list-style-type:upper-alpha;	
			padding:0px 0px;
			margin:5px 0px;
		}
	}


	// Custom / Numbered cirlces

	ol.numbered-circles{
	    counter-reset:li; /* Initiate a counter */
	    margin-left:0; /* Remove the default left margin */
	    padding-left:0; /* Remove the default left padding */
	    ol{
			border:none;
			li{
				list-style-type:lower-alpha;
			}
			li:before{
				content: "";
			}
		}
	}
	ol.numbered-circles li {
	    position:relative;
	    margin:0 0 2px 2em;
	    padding:4px 8px; 
	    list-style:none; 

	}
	ol.numbered-circles > li:before {
	    content:counter(li); 
	    counter-increment:li;
	    /* Position and style the number */
	    position:absolute;
	    top:6px;
	    left:-2em;
	    -moz-box-sizing:border-box;
	    -webkit-box-sizing:border-box;
	    box-sizing:border-box;
	    width:1.6em;
	    /* Some space between the number and the content in browsers that support generated content */
	    margin-right:8px;
	    padding:0px;
	   	background-color:$base-colour;
	   	font-size: 10px;
	   	color: #fff;
	   	@include rounded-all-corners(40px);
	    text-align:center;
	}



	// Custom / Numbered / Nested letters
	ol.custom-number {
	    counter-reset: item;
	   	list-style: none;
	   	margin-left: 0;
	   	ol{
	   		counter-reset: letter;
	   		padding-left: 10px;
	   		li{
	   			list-style:none; 
	   		}
	   		li:before{
	   			counter-increment: letter;
	   			content: counters(letter, ".", lower-alpha)" ";
	   			margin-right: 5px;
	    		font-weight: bold;
	    		color: $dark-purple;
	   		}
	   	}
	}

	ol.custom-number li {
    	position:relative;
	}
	ol.custom-number > li:before {
	    counter-increment: item;
	    content: counters(item, ".")" ";
	    margin-right: 5px;
	    font-weight: bold;
	    color: $dark-purple;
	}
	




	/* Definition list
	2 optional classes for setting the width of the first column. */
	dl{
		margin:2em 0;
	}
	dt {
		float: left;
		display: block;
	}
	dd{
		clear: both;
	}
	@media #{$small} {
		dt {
			float: left;
			clear: left;
			width: 125px;
			text-align: left;
			font-weight: bold;
		}
		dd {
			margin: 0 0 0 0.5em;
			padding: 0 0 0.5em 0;
			clear:none;
		}
		dl.wide{dt{width:180px}}
		dl.wider{dt{width:240px}}
	}




	// iFrames
	// ================================================================================================
	iframe{
		width: 100%;
		min-height: 400px;
		margin-bottom: 1em;
	}



	// Block grid / Image tile
	// ================================================================================================
	.image-tile-2,
	.image-tile-3,
	.image-tile-4{
		figure{
			width:100%;
			margin:0;
		}
	};

	.image-tile-2{@include block-grid(1, $block-grid-default-spacing)};
	.image-tile-3{@include block-grid(1, $block-grid-default-spacing)};
	.image-tile-4{@include block-grid(1, $block-grid-default-spacing)};

	@media #{$small} {	
		.image-tile-2{@include block-grid(2, $block-grid-default-spacing)};
		.image-tile-3{@include block-grid(3, $block-grid-default-spacing)};
		.image-tile-4{@include block-grid(4, $block-grid-default-spacing)};
	}


	/* Helpers
	================================================================================================ */
	.inline{
		width:50% !important;
		display:block;
	}
	.float-left{
		width: 100%;
		@media #{$small} {	
			float:left;
			width: 40%;
			margin-right:50px; 
		}
	}
	.float-right{
	 	width: 100%;
			@media #{$small} {
			float:right;
			width: 40%;
			margin-left:50px; 
		}
	}
	.float-center{
	 	width: 100%;
			@media #{$small} {
			width: 70%;
			margin:0 auto; 
		}
	}
	
	.float-right.small{
		width: 60%;
		margin:0 auto;
		@media #{$small} {
			width: 25%;
			margin-left:50px; 
		}
	}
	.float-left.small{
		width: 60%;
		margin:0 auto;
		@media #{$small} {
			width: 25%;
			margin-right:50px; 
		}
	}



	// Section component
	.section-container{
		p a{
			color: #000;
		}
	}


}



	/* Misc
	================================================================================================ */
	.caption{
		font-size: 90%;
		text-align: right;
	}



	/* Reveal lightbox overide
	================================================================================================
	Provides the Zoom icon */
	figure {
		a[data-reveal-id]{
			span{	
				float: right;
				position: relative;
				top: -42px;
				right: 0;
				font-size: 1.6em;
				padding:0.3em;
				background-color: #000;
				color: #fff;
			}
		}
		a:hover{
			span{
				background-color:#fff;
				color: #000;
			}
		}
	}


// Overide deault foundation behaviour. 
// ================================================================================================

.reveal-modal{
	figure,img{width: auto}
	figcaption{
		padding:15px 0;
		font-weight:normal;
		font-size: $base-font-size * 0.90;
		line-height: 1.4em;
		> strong{
			font-weight:bold;
		}
	}
}
.close-reveal-modal{
	&:hover{
		@include hover-colour(black);
	}
}





