
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Box Rounding
@mixin rounded-all-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin rounded-corners($tl,$tr,$br,$bl) {
  -moz-border-radius-topleft: $tl;
  -moz-border-radius-topright: $tr;
  -moz-border-radius-bottomright: $br;
  -moz-border-radius-bottomleft: $bl;
  -webkit-border-top-left-radius: $tl;
  -webkit-border-top-right-radius: $tr;
  -webkit-border-bottom-right-radius: $br;
  -webkit-border-bottom-left-radius: $bl;
  border-top-left-radius: $tl;
  border-top-right-radius: $tr;
  border-bottom-right-radius: $br;
  border-bottom-left-radius: $bl;
}


//Gradient
@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}


// Shadows
@mixin box-shadow($top:5px, $left:5px, $blur:5px, $color:rgba(0,0,0,0.5), $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin text-shadow($top:5px, $left:5px, $blur:5px, $color:rgba(0,0,0,0.5)) {
  -webkit-text-shadow: $top $left $blur $color;
  -moz-text-shadow: $top $left $blur $color;
  text-shadow: $top $left $blur $color;
}


// Tranparent background
@mixin background-opacity($color, $opacity: 0.5) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}



// Hover states
@mixin hover() {
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}



// Background images
@mixin background-opacity($opacity: 0.7) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin cover-background($filename) {
  background-image: url('../images/#{$filename}');
  background-repeat: no-repeat;
  background-position:center center;
  background-attachment:scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin svg-bg($path, $repeat: no-repeat, $position: 0 0) {
  background-image: url('#{$path}.png'); // IE8 & below
  background-image: none, url('#{$path}.svg');
  background-repeat: $repeat;
  background-position:$position; 
}

@mixin img-bg($path, $repeat: no-repeat, $position: 0 0) {
  background-image: url('#{$path}.png'); 
  background-repeat: $repeat;
  background-position:$position; 
}



@mixin panel-content($color){
      padding:30px 20px 10px 20px;
      border: 3px solid $color;
      @include box-shadow(-7px, 7px, 0, darken($color,8));
}

@mixin hover-tint($color, $amount: 15){
  color:$color;
    &:hover{
      @include hover();
      color:darken($color,$amount);;
    }
}

@mixin hover-colour($color){
    &:hover{
      @include hover();
      color:$color;
    }
}


@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


